<!DOCTYPE html>
<html>
<head>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="js/script.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="Styles/css.css">
	<title>Grocery Store</title>
</head>
<body>
		<header>
			<h1><a href="<%=:home%>">Grocery Store</a></h1>
			<h4>Groceries at your fingertips!</h4>
			<!-- <img src="images/bag.jpg"> -->
			<nav>
				<ul>
					<li><a href="<%=:recipes%>">Recipes</a></li>	
					<li><a href="<%=:flyer%>">Today's Flyer</a></li>
					<li><a href="<%=:about%>">About Us</a></li>
				</ul>
			</nav>
		</header>
	<div id="wrapper">
	
<%= yield %>

	</div>
	<footer>
		<h4>Follow Use On:</h4>
		<ul>
			<li><a href="http://facebook.com"><img src="images/facebook_logo-7.png"></a></li>
			<li><a href="http://twitter.com"><img src="images/twitter.jpg"></a></li>
			<li><a href="http://instragram.com"><img src="images/instagram.jpg"></a></li>
		</ul>
	</footer>
</body>
</html>